<div class="row justify-content-center align-items-center" style="margin-right: 0; height: 93%; padding-left: 150px">
    <div class="col-6 d-flex justify-content-end">
        <img src="assets/img/logo-2.png" alt="logo" style="width: fit-content; height: fit-content">
    </div>
    <div class="col-6">
        <mat-card style="width: 400px; height:auto" [class.mat-elevation-z8]="true" class="p-4">

            <mat-card-header class="justify-content-center mb-3">
                <mat-card-title>
                    <p class="h2">
                        {{title}}
                    </p>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-stepper [linear]="true" labelPosition="bottom">
                    <mat-step [stepControl]="signupForm">
                        <ng-template matStepLabel>{{AUTH_MESSAGES.SIGNUP_FIRST_STEP_TITLE}}</ng-template>
                        <div class="w-100">
                            <form [formGroup]="signupForm" (ngSubmit)="onClickNext()" class="d-flex flex-column"
                                  ngNativeValidate>
                                <mat-form-field appearance="fill" class="mt-2 w-100">
                                    <mat-label>{{AUTH_MESSAGES.FIRST_NAME_LABEL}}</mat-label>
                                    <input matInput [placeholder]="AUTH_MESSAGES.FIRST_NAME_LABEL"
                                           formControlName="firstName">
                                    <mat-error *ngIf="signupForm.controls['firstName'].invalid">
                                        {{VALIDATION_MESSAGES.required(AUTH_MESSAGES.FIRST_NAME_LABEL)}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="mt-2 w-100">
                                    <mat-label>{{AUTH_MESSAGES.LAST_NAME_LABEL}}</mat-label>
                                    <input matInput [placeholder]="AUTH_MESSAGES.LAST_NAME_LABEL"
                                           formControlName="lastName">
                                    <mat-error *ngIf="signupForm.controls['lastName'].invalid">
                                        {{VALIDATION_MESSAGES.required(AUTH_MESSAGES.LAST_NAME_LABEL)}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="mt-2 w-100">
                                    <mat-label>{{CONTACT_NUMBER}}</mat-label>
                                    <input matInput [placeholder]="CONTACT_NUMBER" formControlName="contactNo">
                                    <mat-error *ngIf="signupForm.controls['contactNo'].invalid">
                                        {{getContactNoErrorMessage()}}
                                    </mat-error>
                                </mat-form-field>
                                <div>
                                    <button
                                            type="submit"
                                            mat-raised-button
                                            color="primary"
                                            class="mt-3 mb-2 btn-p w-100"
                                            style="height: 50px;"
                                            matStepperNext>
                                        Next
                                        <mat-icon style="font-size: 17px; margin-top: 3px">arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="passwordForm">
                        <ng-template matStepLabel>{{AUTH_MESSAGES.SIGNUP_SECOND_STEP_TITLE}}</ng-template>
                        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column"
                              ngNativeValidate>
                            <mat-form-field appearance="fill" class="mt-2 w-100">
                                <mat-label>{{AUTH_MESSAGES.CURRENT_PASSWORD_LABEL}}</mat-label>
                                <input matInput [placeholder]="AUTH_MESSAGES.CURRENT_PASSWORD_LABEL"
                                       formControlName="currentPassword"
                                       [type]="hideCurrentPassword ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix type="button"
                                        (click)="hideCurrentPassword = !hideCurrentPassword">
                                    <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="isIncorrectOldPassword">
                                    {{VALIDATION_MESSAGES.INCORRECT_OLD_PASSWORD}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="mt-2 w-100">
                                <mat-label>{{AUTH_MESSAGES.NEW_PASSWORD_LABEL}}</mat-label>
                                <input
                                        matInput [placeholder]="AUTH_MESSAGES.NEW_PASSWORD_LABEL"
                                        formControlName="newPassword"
                                        [type]="hideNewPassword ? 'password' : 'text'"
                                        [matTooltip]="VALIDATION_MESSAGES.STRONG_PASSWORD_MESSAGE_TEXT"
                                        #npTooltip="matTooltip"
                                        matTooltipPosition="right"
                                        matTooltipHideDelay="500">
                                <button mat-icon-button matSuffix type="button"
                                        (click)="hideNewPassword = !hideNewPassword">
                                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="passwordForm.controls['newPassword'].invalid">
                                    {{getNewPasswordErrorMessage()}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="mt-2 w-100">
                                <mat-label>{{AUTH_MESSAGES.CONFIRM_PASSWORD_LABEL}}</mat-label>
                                <input matInput [placeholder]="AUTH_MESSAGES.CONFIRM_PASSWORD_LABEL"
                                       formControlName="confirmPassword"
                                       [type]="hideConfirmPassword ? 'password' : 'text'">
                                <button mat-icon-button matSuffix type="button"
                                        (click)="hideConfirmPassword = !hideConfirmPassword">
                                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="passwordForm.controls['confirmPassword'].invalid">
                                    {{getConfirmPasswordErrorMessage()}}
                                </mat-error>
                            </mat-form-field>
                            <div class="d-flex justify-content-between">
                                <button
                                        mat-raised-button
                                        color="primary"
                                        type="button"
                                        class="mt-3 mb-2 w-50 me-3 btn-s"
                                        (click)="isSecondStep = false"
                                        style="height: 50px;"
                                        matStepperPrevious>
                                    <mat-icon style="font-size: 17px; margin-top: 3px">arrow_back_ios</mat-icon>
                                    Previous
                                </button>
                                <button mat-raised-button color="primary" type="submit" class="mt-3 w-50 mb-2 btn-p"
                                        style="height: 50px;">
                                    <mat-icon style="font-size: 17px; margin-top: 3px">how_to_reg</mat-icon>
                                    {{AUTH_MESSAGES.SIGN_UP_BUTTON_TEXT}}
                                </button>
                            </div>
                        </form>
                    </mat-step>
                </mat-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>

