<h2 mat-dialog-title>{{TITLE}}</h2>
<mat-card-content style="max-height: fit-content">
    <form [formGroup]="projectForm">
        <div class="w-100">
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.PROJECT_NAME}}</mat-label>
                        <input formControlName="ProjectName" matInput>
                        <mat-error *ngIf="projectForm.controls['ProjectName'].invalid">
                            {{VALIDATION_MESSAGES.required(PROJECT_MESSAGES.PROJECT_NAME)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.LAND_NAME}}</mat-label>
                        <input formControlName="LandName" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.PURCHASING_DATE}}</mat-label>
                        <input [matDatepicker]="picker" formControlName="PurchasingDate" matInput>
                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="projectForm.controls['PurchasingDate'].invalid">
                            {{VALIDATION_MESSAGES.required(PROJECT_MESSAGES.PURCHASING_DATE)}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.PURCHASING_PRICE}}</mat-label>
                        <input formControlName="PurchasingPrice" matInput type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.PLAN_NO}}</mat-label>
                        <input formControlName="PlanNo" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.DEED_NO}}</mat-label>
                        <input formControlName="DeedNo" matInput type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.EXTEND}}</mat-label>
                        <input formControlName="Extend" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_MESSAGES.ID}}</mat-label>
                        <input formControlName="ID" matInput>
                        <mat-error *ngIf="projectForm.controls['ID'].invalid">
                            {{VALIDATION_MESSAGES.required(PROJECT_MESSAGES.ID)}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{PROJECT_MESSAGES.ADDRESS}}</mat-label>
                    <input formControlName="Address" matInput>
                </mat-form-field>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{PROJECT_MESSAGES.REMARKS}}</mat-label>
                    <input formControlName="Remarks" matInput>
                </mat-form-field>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{PROJECT_MESSAGES.TAGS}}</mat-label>
                    <mat-select formControlName="Tag">
                        <mat-option *ngFor="let tag of tags" [value]="tag.Name">
                            {{tag.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectForm.controls['Tag'].invalid">
                        {{VALIDATION_MESSAGES.required(PROJECT_MESSAGES.TAGS)}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card-content>
<mat-dialog-actions>
    <div class="row w-100 mx-0 align-items-center justify-content-end">
        <div class="d-flex justify-content-end">
            <button (click)="onClickSave()" cdkFocusInitial class="btn-p" color="primary" mat-raised-button
                    [disabled]="projectForm.invalid">
                <mat-icon>done</mat-icon>
                {{COMMON_MESSAGES.SAVE_BUTTON_TEXT}}
            </button>
            <button [mat-dialog-close]="false" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                {{COMMON_MESSAGES.CANCEL_BUTTON_TEXT}}
            </button>
        </div>
    </div>
</mat-dialog-actions>
