<h2 mat-dialog-title>{{TITLE}}</h2>
<mat-card-content style="max-height: fit-content">
    <form [formGroup]="sponsorForm">
        <div class="w-100">
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.ID}}</mat-label>
                        <input formControlName="ID" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{NAME_MESSAGES.FIRST}}</mat-label>
                        <input formControlName="FirstName" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{NAME_MESSAGES.MIDDLE}}</mat-label>
                        <input formControlName="MiddleName" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{NAME_MESSAGES.LAST}}</mat-label>
                        <input formControlName="LastName" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.EMAIL}}</mat-label>
                        <input formControlName="Email" matInput type="email">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.CONTACT_NUMBER}}</mat-label>
                        <textarea formControlName="ContactNumber" matInput placeholder="Enter one contact number per line"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{ADDRESS_MESSAGES.ADDRESS1}}</mat-label>
                        <input formControlName="Address1" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{ADDRESS_MESSAGES.ADDRESS2}}</mat-label>
                        <input formControlName="Address2" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{ADDRESS_MESSAGES.CITY}}</mat-label>
                        <input formControlName="City" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{ADDRESS_MESSAGES.STATE}}</mat-label>
                        <input formControlName="State" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{ADDRESS_MESSAGES.ZIP_CODE}}</mat-label>
                        <input formControlName="ZipCode" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{ADDRESS_MESSAGES.COUNTRY}}</mat-label>
                        <input formControlName="Country" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.MONTHLY_PAYMENT}}</mat-label>
                        <input formControlName="MonthlyPayment" matInput type="number">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.PAYMENT_FREQUENCY}}</mat-label>
                        <mat-select formControlName="PaymentFrequency">
                            <mat-option *ngFor="let item of PaymentFrequencyList" [value]="item.value">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.LAST_PAYMENT_DATE}}</mat-label>
                        <input formControlName="LastPaymentDate" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.LAST_PAYMENT_AMOUNT}}</mat-label>
                        <input formControlName="LastPaymentAmount" matInput type="number">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.NOTES}}</mat-label>
                        <textarea formControlName="Notes" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{SPONSOR_MESSAGES.ADDRESS_TEXT}}</mat-label>
                        <textarea rows="4" formControlName="AddressText" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-card-content>
<mat-dialog-actions>
    <div class="row w-100 mx-0 align-items-center justify-content-end">
        <div class="d-flex justify-content-end">
            <button *ngIf="data.mode != 0" (click)="onClickSave()" cdkFocusInitial class="btn-p" color="primary" mat-raised-button
                    [disabled]="sponsorForm.invalid">
                <mat-icon>done</mat-icon>
                {{COMMON_MESSAGES.SAVE_BUTTON_TEXT}}
            </button>
            <button [mat-dialog-close]="false" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                {{COMMON_MESSAGES.CANCEL_BUTTON_TEXT}}
            </button>
        </div>
    </div>
</mat-dialog-actions>
