<h2 mat-dialog-title>{{USER_MESSAGES.ADD_NEW_USER}}</h2>

<mat-card-content style="max-height: fit-content">
    <form [formGroup]="userForm">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{USER_MESSAGES.EMAIL_LABEL}}</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error class="mb-2" *ngIf="userForm.controls['email'].invalid">
                {{VALIDATION_MESSAGES.EMAIL}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{USER_MESSAGES.PASSWORD_LABEL}}</mat-label>
            <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.userForm.controls['newPassword'].invalid">
                {{getNewPasswordErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{AUTH_MESSAGES.CONFIRM_PASSWORD_LABEL}}</mat-label>
            <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.userForm.controls['confirmPassword'].invalid">
                {{getConfirmPasswordErrorMessage()}}
            </mat-error>
        </mat-form-field>
    </form>
</mat-card-content>

<mat-dialog-actions>
    <div class="row w-100 align-items-center justify-content-end">
        <div class="d-flex justify-content-end">
            <button class="btn-p" mat-raised-button color="primary" cdkFocusInitial (click)="onClickSave()">
                <mat-icon>done</mat-icon>
                {{COMMON_MESSAGES.SAVE_BUTTON_TEXT}}
            </button>
            <button mat-button mat-dialog-close [mat-dialog-close]="false">
                <mat-icon>close</mat-icon>
                {{COMMON_MESSAGES.CANCEL_BUTTON_TEXT}}
            </button>
        </div>
    </div>
</mat-dialog-actions>
