<mat-card class="mx-3" style="margin-bottom: 70px; min-width: fit-content;">
    <mat-card-content>
        <div class="d-flex justify-content-center flex-column align-items-center">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <div>
            <div class="row w-100">
                <div class="col-9 d-flex align-items-center">
                    <mat-form-field *ngIf="!isLoading" appearance="standard" class="w-25 left-0">
                        <mat-label>{{COMMON_MESSAGES.SEARCH_LABEL}}</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
                    </mat-form-field>
                </div>
                <div class="col-3 d-flex justify-content-end mb-2">
                    <button *ngIf="!isLoading" class="btn-p" style="height: fit-content" mat-raised-button
                            (click)="ngOnClickAdd()" color="primary">
                        <mat-icon>person</mat-icon> &nbsp;
                        {{SPONSOR_MESSAGES.ADD_NEW}}
                    </button>
                </div>
            </div>

            <div [hidden]="isLoading" class="mat-elevation-z8 w-100">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="{{SPONSOR_MESSAGES.ID}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{SPONSOR_MESSAGES.ID}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.ID }}  </td>
                    </ng-container>

                    <ng-container matColumnDef="{{SPONSOR_MESSAGES.NAME}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{SPONSOR_MESSAGES.NAME}} </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.Name.First }} {{ row.Name.Middle }} {{ row.Name.Last }}
                            <mat-icon class="menu-icon" *ngIf="row.IsAttachmentsAvailable">description</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="{{SPONSOR_MESSAGES.EMAIL}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{SPONSOR_MESSAGES.EMAIL}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.Email }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{SPONSOR_MESSAGES.CONTACT_NUMBER}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{SPONSOR_MESSAGES.CONTACT_NUMBER}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.Phone }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{COMMON_MESSAGES.ACTION_COLUMN_TEXT}}">
                        <th mat-header-cell *matHeaderCellDef> {{COMMON_MESSAGES.ACTION_COLUMN_TEXT}} </th>
                        <td mat-cell *matCellDef="let row">
                            <app-action-menu [data]="row"></app-action-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{COMMON_MESSAGES.NO_SEARCH_RESULT_TEXT}}</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[25, 5, 10, 100]"></mat-paginator>

            </div>
        </div>
    </mat-card-content>
</mat-card>
